---
layout: default
---

{% include sidebar.html %}

<section class="left-column">

  {% for post in site.posts %}

    <div class="show-block">
      <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.episode_number_display }}: ‘{{ post.title }}’</a></h2>
      <p class="podcast-details">{{ post.date | date: "%-d %B %Y" }}  •  {{ post.length }} minutes</p>

      <div class="podcast-summary"><p>In the first episode of So Much For Subtlety, Josh and Sam discuss lorem ipsum dolor sit amet lorem ipsum dolor, in the first episode of So Much For Subtlety, Josh and Sam discuss lorem ipsum episode of So Much For Subtlety, Josh and Sam  dolor sit amet lorem ipsum dolor</p></div>
      
      <div class="show-player"></div>

      <div class="notes">
        <h3>Notes and links</h3>
        <ul>
          <li><a href="#na">Link title goes here like this</a></li>
          <li><a href="#na">Another link goes here</a></li>
          <li><a href="#na">This is a link</a></li>
          <li><a href="#na">That thing we talked about is linked here</a></li>
        </ul>
      </div>
    </div>
  {% endfor %}

</section>
