---
layout: default
---

{% include sidebar.html %}

<section class="content">

  {% for page in site.posts %}

    <article class="post">
      <h2 class="h2 post__heading"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.episode_number_display }}: ‘{{ page.title }}’</a></h2>
      <ul class="post__meta">
        <li>{{ page.date | date: "%-d %B %Y" }}</li>

        {% assign duration = page.duration | split: ':' %}
        {% assign hours = duration[0] | times: 1 %}
        {% assign minutes = duration[1] | times: 1 %}
        <li>{% if hours != 0 %}{{ hours }} hour{% if hours > 1 %}s{% endif %}{% if minutes != 0 %}, {% endif %}{% endif %}{% if minutes != 0 %}{{ minutes }} minute{% if minutes != 1 %}s{% endif %}{% endif %}</li>
      </ul>

      <div class="post__player player">
        <audio src="{{ page.audio_file }}" controls autobuffer></audio>
      </div>

      <div class="post__content wysiwyg">
        {{ page.content }}
      </div>
    </article>

  {% endfor %}

</section>
