<section class="sidebar">
  <div class="sidebar__block">
    <h2 class="h3">About</h2>
    <p>{{ site.description }}</p>
  </div>

  <div class="sidebar__block">
    <h2 class="h3">Subscribe</h2>

    <ul class="channels">
      <li class="channels__item channels__item--itunes"><a href="https://geo.itunes.apple.com/gb/podcast/feed/id1100259396" target="_blank">iTunes</a></li>
      <li class="channels__item channels__item--overcast"><a href="https://overcast.fm/itunes1100259396/so-much-for-subtlety" target="_blank">Overcast</a></li>
      <li class="channels__item channels__item--pocket-casts"><a href="http://pca.st/yVPp" target="_blank">Pocket Casts</a></li>
      <li class="channels__item channels__item--rss"><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">RSS</a></li>
    </ul>
  </div>
</section>