<section class="sidebar">
  <div class="sidebar__block">
    <h2 class="h3">About</h2>
    <p>{{ site.description }}</p>
  </div>

  <div class="sidebar__block">
    <h2 class="h3">Subscribe</h2>

    <ul class="channels">
      <li class="channels__item channels__item--itunes"><a href="https://itunes.apple.com/us/podcast/so-much-for-subtlety/id1100259396?mt=2">iTunes</a></li>
      <li class="channels__item channels__item--overcast"><a href="https://overcast.fm/itunes1100259396/so-much-for-subtlety">Overcast</a></li>
      <li class="channels__item channels__item--rss"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
    </ul>
  </div>
</section>