/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(github-light.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/***********
Site styling
***********/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'freight-sans-pro', sans-serif;
  max-width: 60em;
  margin: 0 auto;
  padding: 0 2em 5em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #28b095;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

header {
  font-size: 3em;
  padding: 1.4em 0 1.4em;
  font-weight: 600;
}

.right-column {
  width: 15em;
  position: fixed;
  top: 12.5em;
  left: calc(50vw + 13em);
}

.left-column {
  width: calc(100% - 17em);
  float: left;
}

@media (max-width:960px){
  .right-column {
    right: 2em;
    left: auto;
  }
}
@media (max-width:800px), (max-height:650px) {
  .right-column, .left-column {
    width: 100%;
  }
  .right-column {
    margin-bottom: 4em;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
  }
}

.right-column div[class*="-block"] {
  background-color:#f7f7f7;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 1.6em 1.8em;
}

.right-column div[class*="-block"] h2 {
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: .3em;
}

.right-column > div + div {
  margin-top: 1.5em;
}

.show-block {
  margin-bottom: 3em;
}

.show-block + .show-block {
  padding-top: 3em;
  border-top: 1px solid #dbdbdb;
}

.show-block h2 {
  color: #28b095;
  font-size: 2.6em;
  margin-bottom: .2em;
  line-height: 1.13em;
  font-weight: 600;
}

.podcast-details {
  font-style: italic;
  font-weight: 600;
}

.podcast-summary {
  margin: 2em 0;
}

.show-player {
  width: 100%;
  height: 2em;
  background-color: black;
}

.notes {
  margin-top: 2em;
}

.notes h3 {
  font-size: 1.6em;
  font-weight: 600;
}

.notes ul {
  margin-top: 1em;
}
.notes ul li + li {
  margin-top: .1em;
}
