<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="container">

      <div class="row">

        {% include sidebar.html %}

        <article class="post content">
          <h2 class="h2 post__heading"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.episode_number_display }}: ‘{{ page.title }}’</a></h2>
          <ul class="post__meta">
            <li>{{ page.date | date: "%-d %B %Y" }}</li>
            <li>{{ page.length }} minutes</li>
          </ul>

          <div class="post__player player">
            <audio src="{{ page.audio_file }}" controls autobuffer></audio>
          </div>

          <div class="post__content wysiwyg">
            {{ page.content }}
          </div>
        </article>

      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
